/* App */
#home, #blog, #store, #about-us {
	opacity: 0;
}

.children{
	margin:0;
}

body {
	background-color: #fcfcfc;
}

#nav {
	background-color: white;
	border-bottom: 1px solid #d3d3d3;
}

.navbar {
    height: 50px;
    padding-top: 14px;
    display: flex;
	justify-content: space-between;
	margin: 0 20px;
}

a.link, .content a, .homelink {
	text-transform: uppercase;
}

a.link, .content a, #contact a {
    color: #b5b5b5;
	transition: 0.6s ease;
}

h1 {
	background-color: #993300;
	color: white;
	font-size: 36px !important;
	font-weight: 100 !important;
	margin: 0 !important;
	padding: 20px 0;
}
 
h1, h5, h6, div, .navbar {
	font-family: Roboto, 'Century Gothic', sans-serif;
	text-align: center;
}

a.link.active, i, #contact a:hover, .blog-item h5, .content a:hover, .store-item h5, .about-us-item h5 {
	color: #69a9c6;
}

#home{
	background-image: url('home1.jpg');
	background-size: cover;
	background-attachment: fixed;
	padding:0;
	margin:0;
}

.container{
	padding:0;
	margin:0;
}

.homelink{
	border: 2px solid white;
	padding: 10px;
	color: white;
	text-decoration: none;
	margin:30px auto;
}

.home-item{
	width:70%;
	height: 500px;
	background-color: #FEEAB8;
	margin: 40px auto;
}


/* Screen sizes */
@media (min-width: 768px) {
	h1 {
		font-size: 60.9px !important;
	}
	
    .children {
		margin: 0px;
	}
	
	.navbar {
		display: block
	}
	
	a.link {
		margin: 100px;
	}
}