/* App */
@import url('https://fonts.googleapis.com/css?family=Lobster');

#home, #blog, #store, #about-us {
	opacity: 0;
}

.children, #signin .row {
	margin: 0;
}

body {
	background-image: url('bakery-background.jpg');
	background-repeat: repeat;
	background-size: 500px 500px;
	background-color: #fcfcfc;
}

#nav {
	background-color: white;
	border-bottom: 1px solid #d3d3d3;
}

.navbar {
    height: 50px;
    padding: 14px 20px 0 20px;
    display: flex;
	justify-content: space-between;
	margin: 0 20px;
}

footer {
	padding: 15px 0 !important;
}

#inputs{
	display:none;
}

a.link, .content a, .homelink {
	text-transform: uppercase;
}

a.link {
    color: #b5b5b5;
	transition: 0.6s ease;
}

h1 {
	color: white;
	font-size: 36px !important;
	font-weight: 100 !important;
	margin: 0 !important;
	padding: 30px 0;
	font-family: Lobster;
}
 
h5, h6, div, .navbar {
	font-family: Roboto, 'Century Gothic', sans-serif;
	text-align: center;
}

h1, footer, .btn {
	background-color: #5B2C6F !important;
}

a.link.active, #blog i, #blog h5, .store-item h5, .about-us-item h5 {
	color: #5B2C6F;
}

label.active {
	color: #BB6B25 !important;
}

textarea:focus {
  border-bottom: 1px solid #BB6B25 !important;

  box-shadow: 0 1px 0 0 #BB6B25 !important;
}

input[type=text]:focus:not([readonly]), input[type=email]:focus, input[type=password]:focus{
	border-bottom: 1px solid #BB6B25 !important;
    box-shadow: 0 1px 0 0 #BB6B25 !important;
}

#adminDiv {
	display:none;
}

#signin div {
	color: white;
	padding: 20px;
}

#signin-button {
	margin-left: 5px;
}


/* Screen sizes */
@media (min-width: 768px) {
	h1 {
		font-size: 60.9px !important;
	}
	
	.navbar {
		display: block;
	}
	
	a.link {
		margin: 100px;
	}
}