/* Blog Page */


.blog-item .card-panel{
	position: relative;
	overflow: auto;
	clear: both;
	padding: 0;
}
.blog-item .content-header {
	height: 100%;
	margin: 20px;
}

.blog-item h5 {
	float: left;
	margin: 20px 0 30px 0 !important;
	text-align: left;
	/* text-transform: uppercase; */
}

.blog-item img {
	border: 1px solid #b5b5b5;
	width: 100%;
}

.blog-item .content {
	padding: 20px 0;
}

.blog-item .date {
	color: #b5b5b5;
	font-size: 16px;
	float: right;
	margin-top: 20px;
	font-style: italic;
}

#blog textarea {
	font-size: 16px;
}

#like-icon {
	position: absolute;
	top: 15px;
	right: 20px;
}

.toggle-expand {
	border-top: 1px solid #d3d3d3;
	clear: both;
	padding: 5px;
}

/* Screen sizes */
@media (min-width: 768px) {
	.blog-item {
		margin: 30px 0 30px 0;
	}
}