/* Home Page */

#home{
	background-image: url('home1.jpg');
	background-size: cover;
	background-attachment: fixed;
	padding:30px;
	width:100%;
	margin:0 auto;
}

.homelink{
	border: 2px solid white;
	padding: 16px;
	color: white;
	text-decoration: none;
	font-size: 1.5em;
	margin:30px auto;
}

.home-item, .about-item{
	width:70%;
	padding: 80px;
	background-color: #784212;
	margin: 30px auto;
	position:relative;
}

.about-item{
	background-color: #BB6B25 !important ;
}

.hometext{
	color: #FDEBD0;
	font-family: Roboto;
	margin-bottom: 60px;
}

@media (min-width: 768px) {
	.home-item img {
		margin-bottom: 0;
	}
	
	.home-item .card-panel{
		display: flex;
		justify-content: space-between;
	}

}